body {
    width: 100%;
    height: 100%;
    background-color: coral;
}

.lopta {
    background: radial-gradient(circle at 40% 0, skyblue 60%, rgb(23, 35, 41));
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position : absolute;
    left: 0;
    top: 0;
    animation: udaranje 10s infinite linear;
}

@keyframes udaranje{
    0%{
        left: 0;
    }
    50%{
       left: calc(100% - 100px); 
       right: 0;
    }

}